<project>
  <files>
    <dir
      name=".">
      <watched
        additional="readme.*,license.*,copyright.*"
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Java"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="bin">
        <auto
          name="pom.xml"/>
        <dir
          name="target">
          <dir
            name="classes">
            <dir
              name="META-INF">
              <dir
                name="maven">
                <dir
                  name="com.commerce">
                  <dir
                    name="electronique">
                    <auto
                      name="pom.xml"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <auto
        name="pom.xml"/>
      <dir
        name="src">
        <dir
          name="main">
          <dir
            name="java">
            <dir
              name="Electronique">
              <auto
                name="ElectroniqueApplication.java"/>
            </dir>
            <dir
              name="com">
              <dir
                name="commerce">
                <dir
                  name="controller">
                  <auto
                    name="AdminController.java"/>
                  <auto
                    name="AuthController.java"/>
                  <auto
                    name="CommandeController.java"/>
                  <auto
                    name="HomeController.java"/>
                  <auto
                    name="PanierController.java"/>
                  <auto
                    name="ProduitController.java"/>
                </dir>
                <dir
                  name="model">
                  <auto
                    name="Categorie.java"/>
                  <auto
                    name="Commande.java"/>
                  <auto
                    name="LigneCommande.java"/>
                  <auto
                    name="LigneDePanier.java"/>
                  <auto
                    name="Panier.java"/>
                  <auto
                    name="PanierItem.java"/>
                  <auto
                    name="Produit.java"/>
                  <auto
                    name="Utilisateur.java"/>
                </dir>
                <dir
                  name="repository">
                  <auto
                    name="CategorieRepository.java"/>
                  <auto
                    name="CommandeRepository.java"/>
                  <auto
                    name="LigneCommandeRepository.java"/>
                  <auto
                    name="PanierItemRepository.java"/>
                  <auto
                    name="ProduitRepository.java"/>
                  <auto
                    name="UtilisateurRepository.java"/>
                </dir>
                <dir
                  name="security">
                  <auto
                    name="CustomUserDetailsService.java"/>
                  <auto
                    name="SecurityConfig.java"/>
                </dir>
                <dir
                  name="service">
                  <auto
                    name="AuthService.java"/>
                  <auto
                    name="CategorieService.java"/>
                  <auto
                    name="CommandeService.java"/>
                  <auto
                    name="PanierService.java"/>
                  <auto
                    name="ProduitService.java"/>
                  <auto
                    name="UtilisateurServices.java"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="resources">
            <dir
              name="static">
              <dir
                name="js">
                <auto
                  name="main.js"/>
              </dir>
            </dir>
            <dir
              name="templates">
              <dir
                name="admin">
                <auto
                  name="categories.html"/>
                <auto
                  name="clients.html"/>
                <auto
                  name="commandes.html"/>
                <auto
                  name="dashboard.html"/>
                <dir
                  name="produits">
                  <auto
                    name="form.html"/>
                  <auto
                    name="liste.html"/>
                </dir>
              </dir>
              <dir
                name="auth">
                <auto
                  name="login.html"/>
                <auto
                  name="register.html"/>
              </dir>
              <dir
                name="commande">
                <auto
                  name="confirmer.html"/>
                <auto
                  name="liste.html"/>
                <auto
                  name="recu.html"/>
              </dir>
              <dir
                name="fragments">
                <auto
                  name="layout.html"/>
              </dir>
              <auto
                name="index.html"/>
              <dir
                name="panier">
                <auto
                  name="panier.html"/>
              </dir>
              <dir
                name="produits">
                <auto
                  name="detail.html"/>
                <auto
                  name="liste.html"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="test">
          <dir
            name="java">
            <dir
              name="Electronique">
              <auto
                name="ElectroniqueApplicationTests.java"/>
            </dir>
            <dir
              name="com">
              <dir
                name="commerce">
                <dir
                  name="controller">
                  <auto
                    name="PanierControllerTest.java"/>
                  <auto
                    name="ProduitControllerTest.java"/>
                </dir>
                <dir
                  name="model">
                  <auto
                    name="ModelTest.java"/>
                </dir>
                <dir
                  name="service">
                  <auto
                    name="AuthServiceTest.java"/>
                  <auto
                    name="CommandeServiceTest.java"/>
                  <auto
                    name="PanierServiceTest.java"/>
                  <auto
                    name="ProduitServiceTest.java"/>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="target">
        <dir
          name="classes">
          <dir
            name="META-INF">
            <dir
              name="maven">
              <dir
                name="com.commerce">
                <dir
                  name="electronique">
                  <auto
                    name="pom.xml"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="static">
            <dir
              name="js">
              <auto
                name="main.js"/>
            </dir>
          </dir>
          <dir
            name="templates">
            <dir
              name="admin">
              <auto
                name="categories.html"/>
              <auto
                name="clients.html"/>
              <auto
                name="commandes.html"/>
              <auto
                name="dashboard.html"/>
              <dir
                name="produits">
                <auto
                  name="form.html"/>
                <auto
                  name="liste.html"/>
              </dir>
            </dir>
            <dir
              name="auth">
              <auto
                name="login.html"/>
              <auto
                name="register.html"/>
            </dir>
            <dir
              name="commande">
              <auto
                name="confirmer.html"/>
              <auto
                name="liste.html"/>
              <auto
                name="recu.html"/>
            </dir>
            <dir
              name="fragments">
              <auto
                name="layout.html"/>
            </dir>
            <auto
              name="index.html"/>
            <dir
              name="panier">
              <auto
                name="panier.html"/>
            </dir>
            <dir
              name="produits">
              <auto
                name="detail.html"/>
              <auto
                name="liste.html"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="surefire-reports">
          <auto
            name="TEST-Electronique.ElectroniqueApplicationTests.xml"/>
        </dir>
      </dir>
    </dir>
  </files>
</project>
